/* roboto-regular - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.wrapper__full {
	max-width: 1920px;
	margin: 0 auto;
}

.section__first {
	background-color: #EEEFF1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Header styles start */

.header {
	padding-bottom: 128px;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 63px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 42px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	letter-spacing: 0.1em;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.header__link:active, .header__link:hover, header_link:focus {
	color: #34547A;
	font-weight: 500;
}

/* Header styles end */

/* Intro styles start */

.intro {
	padding-bottom: 157px;
}

.intro__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: initial;
	justify-content: flex-end;
}

.intro__desc {
	padding-left: 131px;
}

.intro__desc-title {
	font-weight: 500;
	font-size: 48px;
	color: #000000;
	margin-bottom: 60px;
}

.intro__desc-subtitle {
	max-width: 540px;
	margin-bottom: 50px;
	line-height: 26.25px;
}

.button__write-me {
	border: 0;
	padding: 25px 41px;
	background: #34547A;
	letter-spacing: 0.1em;
	color: white;
	text-transform: uppercase;
}

/* Intro styles end */

/* About-me section start*/

.about-me__wrapper {
	margin: 0 auto;
	max-width: 540px;
	padding: 112px 0 110px;
}

.about-me__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.about-me__subtitle {
	text-align: center;
}

/* About-me section end*/

/* Projects section start */

.projects {
	background: #34547A;
}

.project__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 100px 0 70px;
	color: white;
}

.project__card {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.project__card-img {
	padding-right: 20px;
}

.project__card-text {
	align-items: flex-end;
	justify-content: end;
}

.project__card-num {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
}

/* Projects section end */

/* Proficiency section start */

.proficiency__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1150px;
	margin: 102px auto 101px;
}

.proficiency__list {
	max-width: 445px;
}

.proficiency__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 50px;
}

.proficiency__subtitle {
	margin-bottom: 30px;
	padding-bottom: 20px;
	position: relative;
}
.proficiency__subtitle::after {
	display: block;
	position: absolute;
	content: '';
	width: 350px;
	height: 4px;
	background-color: #34547A;
	bottom: 0;
	left: 0;
	transform: rotate(-0.06deg);
}
.proficiency__subtitle::before {
	display: block;
	position: absolute;
	content: '';
	width: 95px;
	height: 4px;
	background-color: #C4C4C4;
	bottom: 0;
	left: 350px;
	transform: rotate(-0.06deg);
}
/* Proficiency section end */

/* Video section start*/
.video {
	background: #EEEFF1;
}
.video__text-wrapper {
	margin: 0 auto;
	max-width: 540px;
	padding-top: 100px;
}
.video__text-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.video__text-subtitle {
	text-align: center;
	margin-bottom: 57px;
}
.videos__wrapper {
	max-width: 1110px;
	margin: 0 auto 28px;
	padding-bottom: 100px;
}

.video__item {
	padding-top: 56.25%;
	position: relative;
}

.video__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video section end*/
	/* background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(.jpg); */
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	/* Pictures section start */

.pictures__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0px;
}

.pictures__card {
	grid-column: span 1;
	position: relative;
}

.pictures__card:hover:before{
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background:  no-repeat center url(../img/svg/eye-ico.svg), rgba(52, 84, 122, 0.8);
	z-index: 2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pictures__card-pic{
	object-fit: cover;
	width: 100%;	
}

/* Pictures section end */